<a href="https://colab.research.google.com/github/kzoord/repo-ujsieci/blob/nowa1/ciagi%20znakow%2C%20pliki%20csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

dane = pd.read_csv('wybor_teatrow.csv')

dane.head(5)

   lp                                           teatr  obrazki  plansza  suma
0   1                       Krakowski Teatr Scena STU        3        1     4
1   2                         Krakowski Teatr Variété        0        4     4
2   3  Narodowy Stary Teatr im. Heleny Modrzejewskiej        2        3     5
3   4                                 Opera Krakowska        1        1     2
4   5                                   Teatr Barakah        1        1     2

In [0]:
f = open("A_SCANDAL_IN_BOHEMIA.txt", "r")

In [6]:
print(f.readline())

﻿I. A SCANDAL IN BOHEMIA

In [0]:
f.close()

In [8]:
#zadanie 1 

dane.head(3)

   lp                                           teatr  obrazki  plansza  suma
0   1                       Krakowski Teatr Scena STU        3        1     4
1   2                         Krakowski Teatr Variété        0        4     4
2   3  Narodowy Stary Teatr im. Heleny Modrzejewskiej        2        3     5

In [10]:
#zadanie 2

f = open("AliceInWonderland.txt", "r")

i=0
while i<26:
  print("Oto linijki", i, f.readline())
  i+=1

Oto linijki 0 ﻿CHAPTER I. Down the Rabbit-Hole

Oto linijki 1

Oto linijki 2 Alice was beginning to get very tired of sitting by her sister on the

Oto linijki 3 bank, and of having nothing to do: once or twice she had peeped into the

Oto linijki 4 book her sister was reading, but it had no pictures or conversations in

Oto linijki 5 it, ‘and what is the use of a book,’ thought Alice ‘without pictures or

Oto linijki 6 conversations?’

Oto linijki 7

Oto linijki 8 So she was considering in her own mind (as well as she could, for the

Oto linijki 9 hot day made her feel very sleepy and stupid), whether the pleasure

Oto linijki 10 of making a daisy-chain would be worth the trouble of getting up and

Oto linijki 11 picking the daisies, when suddenly a White Rabbit with pink eyes ran

Oto linijki 12 close by her.

Oto linijki 13

Oto linijki 14 There was nothing so VERY remarkable in that; nor did Alice think it so

Oto linijki 15 VERY much out of the way to hear the Rabbit say to itself, ‘Oh dear!

Oto linijki 16 Oh dear! I shall be late!’ (when she thought it over afterwards, it

Oto linijki 17 occurred to her that she ought to have wondered at this, but at the time

Oto linijki 18 it all seemed quite natural); but when the Rabbit actually TOOK A WATCH

Oto linijki 19 OUT OF ITS WAISTCOAT-POCKET, and looked at it, and then hurried on,

Oto linijki 20 Alice started to her feet, for it flashed across her mind that she had

Oto linijki 21 never before seen a rabbit with either a waistcoat-pocket, or a watch

Oto linijki 22 to take out of it, and burning with curiosity, she ran across the field

Oto linijki 23 after it, and fortunately was just in time to see it pop down a large

Oto linijki 24 rabbit-hole under the hedge.

Oto linijki 25